@import url('https://arttu.pennanen.org/assets/font/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4 {
    font-weight: 500;
    text-transform: lowercase;
}

h4 {
    display: inline;
    color: #2f4faf;
    font-style: italic;

}

.mainheader {
    margin-top: 0.7em;
    margin-bottom: 1em;
    font-size: 1.9em;
}

#mobile-textarea {
    all: unset;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0;
}

#chaseinfo {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: white;
    z-index: -2;
    justify-content: center;
}

.infowrapper {
    padding: 1em 2em;
    box-sizing: border-box;
    max-width: 900px;
    padding-top: 7vh;
    width: 100%
}

header {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;

    color: #3562aa;
}

#help {
    max-width: 75vw;
    margin-top: 1em;
    transition: opacity 5.2s;
    opacity: 0.9;

}

a:hover {
    color: #1e70f4;
}

.button {
    all: unset;
    background-color: inherit;
    text-align: center;
    border: 1px solid #e7e7e7;
    padding: 0.1em;
    white-space: nowrap;
    overflow: hidden;
    width: 1.3em;
    height: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.05s;
    margin: 0 0.5em;
    box-sizing: border-box;
}

div#cancelcustomtext {
    width: auto;
}

.small {
    font-size: 0.8em;
}

#satunnainen {
    width: 100px;
}

#omateksti {
    width: 100px;
}

.button:hover {
    cursor: pointer;
    background-color: #e5e5e5;
}

.button.fakebutton {
    margin: 0;
    transition: none;
    display: inline-flex;
}

.button.fakebutton.text {
    width: initial;
    height: initial;
    font-size: 1.6em;
}

.button.fakebutton:hover {
    cursor: initial;
    background-color: inherit;
}

.fakebuttondesc {
    display: inline;
}

#typechase {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

#uudelleen {
    width: 30px;
}

#unfocus {
    z-index: -1;
    height: 1000vh;
    width: 1000vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s;
    overflow: hidden;
    display: none;
}

.input-settings {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-settings > .button {
    padding: 0.3em;
    margin: 0.3em;
    box-sizing: content-box;
}

#input-text {
    z-index: -1;
    position: absolute;
    background-color: white;
    height: calc(70px + 0.4vw);
    border: 1px solid #848484;
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
    padding-bottom: 0;
    justify-content: space-around;
    display: none;
    margin-top: 20vh
}

#input-text span {
    text-align: center;
}

.customize {
    width: calc(300px + 20vw);
    max-width: calc(55% + 5vw);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px groove #ffffff;
    padding: 0.3em;
    transition: all 0.2s;
    height: 1.8em;
}

.customize div {
    margin: 0 0.5em;
}

#boxparent {
    width: calc(300px + 20vw);
    max-width: calc(55% + 5vw);
    margin: 1em 3em;
    color: #8c8c8c;
    border-left: 2px solid #999;
    padding-left: 1em;
    transition: all 0.2s;
    position: relative;
}

#textbox {
    font-size: 1.3em;
    line-height: 1.7;
    word-wrap: break-word;
    font-family: 'Times New Roman', Times, serif;
}

#app {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.stats {
    width: calc(300px + 20vw);
    max-width: calc(55% + 5vw);
    border: 2px groove #ffffff;
    padding: 0.3em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 1.8em;
}

.stats {
    transition: all 0.2s;
}

span.stats {
    height: 100%;
    font-size: 1.6em;
}

#averagestats {
    opacity: 0.9;
    margin-top: 0.7em;
    max-width: 75vw;
    visibility: hidden;
}

#last10WpmParent {
    padding: 0.15em 0.29em;
    padding-bottom: 0.19em;
    display: inline-block;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.48em;
}


#chaselist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
    margin-bottom: 3em;
    box-sizing: border-box;
}

#chasehistory {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: white;
    z-index: -2;
    justify-content: center;
}

#historywrap {
    padding: 1em 2em;
    box-sizing: border-box;
    max-width: 900px;
    padding-top: 7vh;
    width: 100%
}


.historyhead, .helphead  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.helpbody {
    width: 500px;
    max-width: 90%;
    padding-bottom: 6em;
}
.historybody {
    margin-top: 0.4em;
}

.historybody > .skillref {
    margin-right: calc(0.5em + 0.5vw);
    float: left;
}

.historybody tr {
    display: flex;
    flex-direction: column;
    border: none;
}

.historybody .skilltablebody {
        border: 1px solid #b9b9b9;

}

.historybody > .skillref > h3 {
    margin: 0;
    margin-bottom: 0.7em;
    font-style: italic;
    font-weight: 400;
}

.skillref > h3 {
    margin-bottom: 0.7em;
}

.skillref {
    margin-bottom: 2em;
}


td.skillrefcontent {
    background: white;
    color: black;
    font-size: 0.9em
}

.skilltable {
    border-collapse: collapse;
}

.skilltablebody > tr {
    border: 1px solid #b9b9b9;
}

.skilltablebody td {
    padding: 0.2em;
}

.chase {
    border: 1px solid #b9b9b9;
    flex: 33%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 33%;
    min-height: 130px;
    border-top: 0;
    cursor: pointer;
}

.chase:nth-child(-n+3) {
    border-top: 1px solid #b9b9b9;
}

.chase:nth-child(3n-1) {
    border-left: none;
    border-right: none;
}

.chase:last-child {
    border-right: 1px solid #b9b9b9;
}

.chaseHead {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3em 0.8em;
    padding-right: 0.3em;
    flex: 100%;
}

.chaseHeadLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chaseHeadLeft.fake {
    width: 180px;
}

.chaseId.fake {
    width: 167px;
}

.chaseHeadLeft>.button {
    margin: 0;
}


.chaseTitle {
    font-weight: 450;
    margin-right: 1em;
    margin-bottom: 0.3em;
    flex: 1;
}

.chaseId {
    color: rgb(70, 70, 70);
    background-color: rgb(247, 247, 247);
    padding: 0.3em 0.4em;
    margin: 0.3em;
    font-size: 0.68em;
    margin-left: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.chaseBody {
    display: flex;
    justify-content: left;
    padding: 0.3em 0.8em;
}

.chaseFooter {
    display: flex;
    justify-content: space-between;
}

.chaseCustomTextWrapper {
    text-transform: lowercase;
}

.chaseCustomText::after {
    content: "custom";
}

.chaseDefaultText::after {
    content: "default"
}

.chaseCustomText {
    color: #b53434;
    margin: 0.2em;
}

.chaseDefaultText {
    color: #7474a7;
    margin: 0.2em;
}

.chaseAccuracyWrapper,
.chaseWpmWrapper {
    margin-right: 0.8em
}

.chaseFullText {
    display: none;
}

.chaseTime {
    text-align: right;
    display: flex;
}

.chasehhmmss {
    padding: 0 0.5em;
    padding-right: 0.8em;
}

.skillLevel_0 {
    background-color: #6c5aff;
    color: white;
}

.skillLevel_1 {
    background-color: #03AA09;
    color: white;
}

.skillLevel_2 {
    background-color: #3AB802;
    color: white;
}

.skillLevel_3 {
    background-color: #80C602;
    color: black;
}

.skillLevel_4 {
    background-color: #D1D501;
    color: black;
}

.skillLevel_5 {
    background-color: #E39A01;
    color: black;
}

.skillLevel_6 {
    background-color: #F05200;
    color: white;
}

.skillLevel_7 {
    background-color: #ff0000;
    color: white;
}

.slicedChar {
    position: relative;
}

.slicedWord {
    display: inline-block;
    position: relative;
}

.slicedWord.slicedSpace {
    line-height: 1.12em;
}

.currentChar::after {
content: '';
position: absolute;
width: 0.5em;
    height: 1.7px;
bottom: 0;
left: 0;
margin: auto;
background-color: #0087ca;

animation: blinkingCursor 1.3s linear infinite;
}

.popupbox {
    transition: transform 0.5s, opacity 0.9s, background-color 0.9s;
    transform: translateY(0);
    position: fixed;
    bottom: 20vh;
    background-color: white;
    color: white;
    font-size: 1.1rem;
    padding: 0.6em 1.3em;
    border-radius: 1em;
    opacity: 0.95;
    box-shadow: 11px 17px 7px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.popupbox.closed {
    visibility: hidden;
    transform: translateY(50px);
}

.popupbox.hidden {
    opacity: 0;
}

.interfaceinfopart {
    display: flex;
    align-items: center;
    margin: 0.8em 0;
}

.interfaceinfopart > h4 {
    margin: 0;
    margin-left: 0.2em;
    margin-right: 0.4em;
}

.interfaceinfopart > p {
    margin: 0;
}

.interfaceexample {
    border: 1px solid #e7e7e7;
    margin: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chase.chase_example {
    width: 300px;
    max-width: 90%;
    cursor: initial;
}

@media screen and (max-width: 750px) {
    span.chaseCustomText::after {
        content: "c";
    }
    .chaseDefaultText::after {
        content: "d"
    }
}

@media screen and (max-width: 730px) {

    .interfaceinfopart {
        flex-direction: column;
        align-items: flex-start;
        margin: 1.5em 0;
    }
    .interfaceinfopart > h4 {
        margin: 0;
    }

    .chase {
        flex: 49%;
        max-width: 49%;
    }

    html {
        font-size: calc(0.8em + 0.4vw);
    }

    .chase:nth-child(3n-1) {
        border-left: 1px solid #b9b9b9;
        border-right: 1px solid #b9b9b9;
    }

    .chase:nth-child(even) {
        border-left: none;
        border-right: 1px solid #b9b9b9;
    }

    .chase:nth-child(odd) {
        border-left: none;
        border-left: 1px solid #b9b9b9;
    }

    .chase:nth-child(-n+3) {
        border-top: 1px solid #b9b9b9;
    }

    .chase:nth-child(-n+2) {
        border-top: 1px solid #b9b9b9;
    }
}

@media screen and (max-width: 500px) { 
    .chase {
        flex: 90%;
        max-width: 90%;
        border: 1px solid #b9b9b9 !important;
        border-bottom: none !important;
    }
    .chase:last-child {
        border-bottom: 1px solid #b9b9b9 !important;
    }



}

@keyframes blinkingCursor {
    0% {
        visibility: initial;
    }
    49%{
        visibility: initial;
    }
    50% {
        visibility: hidden;
    }
    99% {
        visibility: hidden;
    }
    100% {
        visibility: initial;
    }
}