.player {
    display: flex;
}

.player-name {
    max-width: 150px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0 0 auto;
}

.player-performance {
    flex: 1 1 auto;
    position: relative;
}

.player-icon {
    transition: left 1s linear;
    height: 16px;
    width: 16px;
    background: red;
    border-radius: 999px;
    position: relative;
}

.state-0 {
    color: gray;
}

.state-1 {
    color: rgb(37, 183, 43);
    background-color: rgb(0 0 0 / 5%);
}

.state-2 {
    color: black;
    background-color: rgb(255 0 0 / 20%);
}

.state-3 {
    color: rgb(126, 175, 33);
    background-color: rgb(255 226 15 / 20%);
}
